<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team150.mappers.reserveMapper">


	<select id="listAll" resultType="com.team150.Reserve.Model.ReserveVO">
		select * from Reserve
	</select>

	<insert id="create" parameterType="com.team150.Reserve.Model.ReserveVO">
		insert into
		Reserve(rtime,rbank,raccount,rmemo,rok,rdate,cseq,useq)
		values (#{rtime},#{rbank},#{raccount},#{rmemo},"false",now(),#{cseq},#{useq})
	</insert>

	<select id="read" resultType="com.team150.Reserve.Model.ReserveVO">
		select * from Reserve where useq=#{useq}
	</select>
	
	
	<select id="read1" resultType="com.team150.Reserve.Model.ReserveVO">
		select * from Reserve where rseq=#{rseq}
	</select>

	<update id="modify">
		update Reserve set
		rtime=#{rtime},rbank=#{rbank},raccount=#{raccount}
		where rseq=#{rseq}
	</update>

	<delete id="remove">
		delete from Reserve where rseq=#{rseq}
	</delete>
	
	<update id="paysuccess">
		update Reserve set rok="true" where rseq=#{rseq}
	</update>
</mapper>