<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- 여기다가 이제 나중에 본인들 사용할 VO(MODEL)을  넣으시면됩니다. -->
	</typeAliases>
	<mappers>

	</mappers>
</configuration>